<template>
  <WidgetImage @click="handleItemClick" clickable class="w-full" :url="thumbnailUrl">
    <div class="absolute w-full h-full">
      <div class="absolute bottom-0 left-0 p-3 bg-black w-full bg-opacity-70">
        <div class="text-gray-400">{{ new Date(news.attributes.publishedAt).toLocaleString() }}</div>
        <div class="text-4xl font-bold">{{news.attributes.title}}</div>
        <div class="font-semibold">{{news.attributes.subtitle}}</div>
      </div>
    </div>
  </WidgetImage>
</template>

<script>
export default {
  props: {
    news: {
      required: true
    }
  },
  methods: {
    handleItemClick() {
      this.$router.push({name: 'news-id', params: {id:  this.news.id}});
    }
  },
  computed: {
    thumbnailUrl() {
      const imageUrl = this.news.attributes.image.data.attributes.url;
      return this.$config.DATA_URL + imageUrl
    }
  }
}
</script>

<style scoped>

</style>