<template>
  <WidgetBase @click="handleItemClick" clickable no-padding class="md:h-40 w-full overflow-hidden">
    <div class="flex flex-col md:flex-row h-full">
      <div class="h-32 md:h-full shadow md:w-2/12">
        <img class="h-full w-full object-center object-cover" :src="thumbnailUrl" alt="">
      </div>
      <div class="p-3">
        <div class="text-gray-400">{{ new Date(news.attributes.publishedAt).toLocaleString() }}</div>
        <div class="text-4xl font-bold">{{news.attributes.title}}</div>
        <div class="font-semibold">{{news.attributes.subtitle}}</div>
      </div>
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    news: {
      type: Object,
      required: true
    }
  },
  computed: {
    thumbnailUrl() {
      const imageUrl = this.news.attributes.image.data.attributes.url;
      return this.$config.DATA_URL + imageUrl
    },
  },
  methods: {
    handleItemClick() {
      this.$router.push({name: 'news-id', params: {id: this.news.id}});
    }
  }
}
</script>

<style scoped>

</style>