<template>
  <div class="w-full flex flex-col gap-3">
    <div class="text-lg font-semibold">Alle News ({{ news.length }})</div>
    <div v-for="_news in news" :key="_news.id" class="w-full">
      <NewsItem :news="_news"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    news: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>

</style>