<template>
  <div class="bg-gray-2 min-h-screen flex flex-col">
    <Header/>
    <div class="flex-1 p-3 mt-16">
      <RouterView/>
    </div>
    <Footer/>
    <WidgetBase class="fixed right-5 bottom-5 text-white font-semibold outline-primary outline-1 outline cursor-pointer"
                @click="feedbackModal = !feedbackModal">Feedback geben
    </WidgetBase>
    <Modal v-model="feedbackModal">
      <div class="text-white font-bold text-3xl">Feedback</div>
      <div class="mt-3">
        <textarea v-model="feedback.content"
                  class="resize-none font-semibold bg-gray-2 rounded w-full p-3 text-white outline-primary"/>
      </div>
      <div class="pt-3 w-full flex gap-3 justify-end">
        <div @click="this.feedbackModal = false"
             class="outline-primary outline outline-1 cursor-pointer shadow outline-primary rounded px-3 py-2 text-white font-semibold">
          Schließen
        </div>
        <div @click="postFeedback"
             class="bg-primary cursor-pointer shadow outline-primary rounded px-3 py-2 text-white font-semibold">
          Abschicken
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      feedbackModal: false,
      feedback: {
        name: "",
        content: ""
      }
    }
  },
  methods: {
    async postFeedback() {
      if (!this.feedback.content) return

      const data = {
          content: this.feedback.content,
          name: this.feedback.name
      }

      await fetch(this.$config.BASE_URL + '/feedback-messages', {
        method: "POST",
        body: JSON.stringify({data}),
        headers: { "Content-Type": "application/json"}
      })

      this.feedbackModal = false
    }
  }
}

</script>
