<template>
  <div class="bg-gray-1 shadow rounded" :class="{'clickable': clickable, 'p-3': !noPadding}">
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    clickable: {
      type: Boolean
    },
    noPadding: {
      type: Boolean
    }
  }
}
</script>

<style>
.clickable {
  @apply hover:shadow-lg hover:outline hover:scale-[1.03] outline-1 outline-primary transition-all delay-75 duration-150 cursor-pointer;
}
</style>