<template>
  <WidgetBase class="overflow-hidden h-full w-full relative inline-block" no-padding>
    <slot />
    <img :src="url" class="object-cover object-center h-full w-full" />
  </WidgetBase>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true
    }
  }
}
</script>