<template>
  <WidgetBase>
    <div class="text-white text-2xl font-bold mb-3">{{ title }}</div>
    <LineChart :height="300" :chartData="chartData" :options="options"/>
  </WidgetBase>
</template>

<script>
import {LineChart} from 'vue-chart-3';

export default {
  components: {
    LineChart
  },
  props: {
    title: {
      type: String,
      required: true
    },
    data: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      options: {
        plugins: {
          legend: {
            display: false
          }
        }
      },
    }
  },
  computed: {
    chartData() {
      return {
        labels: this.data.map(el => {

          const date = el.date.split("");
          let monthStart = 0

          let hour = null;

          if(date.length === 10) {
            monthStart = 2;
            hour = +date.slice(0, 2).join("")
          }

          const month = +date.slice(monthStart, monthStart + 2).join("") - 1
          const day = +date.slice(monthStart + 2, monthStart + 4).join("")
          const year = +date.slice(monthStart + 4, monthStart + 8).join("")

          const _date = new Date(year, month, day, hour)

          return hour === null ? _date.toLocaleDateString() : _date.toLocaleString()
        }),
        datasets: [
          {
            data: this.data.map(el => el.data),
            borderColor: "#B10CE2",
          }
        ]
      }
    }
  }
}

</script>