<template>
  <WidgetText no-pre-wrap title="Links">
      <div v-for="link in links">
        - <a class="text-lg text-primary hover:underline" :href="link.link">{{ link.title }}</a>
      </div>
  </WidgetText>
</template>

<script>
export default {
  props: {
    links: {
      type: Array
    },
  }
}
</script>