<template>
  <WidgetBase>
    <div class="flex flex-col sm:flex-row gap-3 justify-around">
      <div class="flex-1 flex flex-col items-center">
        <div class="text-white font-semibold text-xl mb-2 text-center">Video</div>
        <UtilsRating :maxPoints="2" :points="rating.video"/>
      </div>

      <div class="h-0.5 my-2 mx-auto w-3/12 sm:w-0.5 sm:h-auto bg-gray-2"/>

      <div class="flex-1 flex flex-col items-center">
        <div class="text-white font-semibold text-xl mb-2 text-center">Anderes</div>
        <UtilsRating :reasons="rating.other_reasons.split(',')" :maxPoints="5" :points="rating.other"/>
      </div>

      <div class="h-0.5 my-2 mx-auto w-3/12 sm:w-0.5 sm:h-auto bg-gray-2"/>

      <div class="flex-1 flex flex-col items-center">
        <div class="text-white font-semibold text-xl mb-2 text-center mb-3">Gast ({{ rating.guest_name }})</div>
        <UtilsRating :maxPoints="3" :points="rating.guest"/>
      </div>
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    rating: {
      type: Object,
      required: true
    }
  }
}
</script>