<template>
  <WidgetBase no-padding class="w-full overflow-hidden">
    <div class="overflow-x-auto">
      <table class="w-full text-center">
        <thead class="bg-neutral-900">
        <tr>
          <th v-for="{ label, name } in columns" :key="name">
            <div>
              {{ label }}
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(row, key) in getRows" :key="key">
          <tr>
            <td v-for="{ field } in columns" :key="name">
              <div>
                {{ field === "index" ? key + 1 : row[field] }}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    rows: {
      type: Array,
      required: true,
      default: () => []
    },
    columns: {
      type: Array,
      required: true,
      default: () => []
    },
    sortBy: {
      type: String
    },
    size: {
      type: Number
    }
  },
  computed: {
      getRows() {
        let tempRows = [...this.rows]

        if(this.sortBy)
          tempRows.sort((el1, el2) => +el2[this.sortBy] - +el1[this.sortBy])

        if(this.size)
          tempRows = tempRows.slice(0, this.size)

        return tempRows
      }
  }
}
</script>

<style scoped>
table thead tr th div {
  @apply p-3
}

table tbody tr td div {
  @apply p-3
}

table {
  @apply mb-3;
}
</style>