<template>
  <WidgetBase>
    <div class="text-white text-4xl font-bold">{{ title }}</div>
    <div class="my-4 h-0.5 w-full bg-gray-2"></div>
    <div class="text-gray-100" :class="{'whitespace-pre-wrap' : !noPreWrap }">
      <template v-if="text">{{ text }}</template>
      <slot />
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      default: () => ""
    },
    noPreWrap: {
      type: Boolean
    }
  }
}
</script>