<template>
  <WidgetBase class="h-64 w-full" clickable no-padding>
    <div class="flex w-full flex-col h-full text-white">
      <div class="w-full rounded overflow-hidden">
        <img v-if="round.attributes.thumbnail.data" class="w-full" :src="thumbnailUrl" alt="">
      </div>
      <div class="flex p-3 flex-col">
        <div class="text-gray-500">{{ new Date(round.attributes.release).toLocaleDateString() }}</div>
        <div class="font-bold text-2xl">{{ round.attributes.title }}</div>
        <div class="font-semibold text-lg">{{ round.attributes.competitor.data.attributes.name }}</div>
      </div>
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    round: {
      type: Object,
      required: true
    }
  },
  computed: {
    thumbnailUrl() {
      const imageUrl = this.round.attributes.thumbnail.data.attributes.formats.thumbnail.url;
      return this.$config.DATA_URL + imageUrl
    }
  }
}
</script>