<template>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 w-full">
    <template v-for="round in rounds" :key="round.id">
      <RoundItem @click="handleRoundItemClick(round.id)" :round="round"/>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    rounds: {
      type: Array,
      required: true
    }
  },
  methods: {
    handleRoundItemClick(id) {
      this.$router.push({name: 'rounds-id', params: {id}});
    }
  }
}
</script>