<template>
  <div class="h-28 relative bg-gray-1 flex items-center">
    <div class="w-full h-full flex flex-col justify-between text-center absolute p-4 text-white">
      <p class="text-xl">Made with &#10084; by <a class="link gitlab" href="https://gitlab.com/R3mb0">R3mb0</a></p>
      <div>
        <RouterLink class="link" to="/imprint">Impressum</RouterLink> • <RouterLink class="link" to="/about">About</RouterLink>
      </div>
      <div>Version: {{ version }}</div>
    </div>
  </div>
</template>

<script>
import { version } from '../package.json'

export default {
 data() {
   return {
     version
   }
 }
}

</script>

<style>
.link {
  @apply hover:text-slate-400 transition-colors duration-150
}

.link.gitlab {
  @apply hover:text-orange-400
}

</style>