<template>
  <div class="fixed w-full z-50">
    <div class="h-16 bg-gray-1 shadow p-4 flex items-center justify-between w-full">

      <div class="cursor-pointer sm:hidden" @click="isMenuOpen = !isMenuOpen">
        <svg class="text-primary" style="width:40px; height:40px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
      </div>

      <RouterLink id="logo" to="/">JMA</RouterLink>

      <div class="flex hidden sm:block">
        <RouterLink class="font-bold text-white text-xl px-4 py-2 rounded"
                    v-for="link in links"
                    :key="links.link" :to="link.link"
                    @click="isMenuOpen = false"
        >
          {{ link.label }}
        </RouterLink>
      </div>
    </div>

    <div class="sm:hidden">
      <div v-if="isMenuOpen" id="navigation-drawer-backdrop" @click="isMenuOpen = false"/>
      <div id="navigation-drawer" :class="{'-translate-x-full': !isMenuOpen}">
        <div class="flex flex-col">
          <RouterLink class="font-bold text-white text-lg px-4 py-2 rounded"
                      v-for="link in links"
                      :key="links.link" :to="link.link"
                      @click="isMenuOpen = false">
            {{ link.label }}
          </RouterLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isMenuOpen: false,
      links: [
        {label: "Home", link:"/"},
        {label: "Rangliste", link: '/leaderboard'},
        {label: "Teilnehmer", link: '/competitors'},
        {label: "Runden", link: '/rounds'},
        {label: "Baum", link: '/tree'},
        {label: "Spiele", link: '/games'}
      ]
    }
  }
}
</script>

<style scoped>
.router-link-exact-active {
  @apply text-primary bg-primary-smooth;
}

#navigation-drawer {
  @apply absolute bg-gray-1 w-1/2 shadow-md p-2 transition-transform ease-in-out duration-200;
  height: calc(100vh - 4rem);
}

#navigation-drawer-backdrop {
  @apply absolute bg-gray-1 w-screen right-0;
  opacity: 50%;
  height: calc(100vh - 4rem);
}

#logo {
  @apply text-primary font-bold text-4xl absolute sm:relative sm:translate-x-0 sm:left-0 -translate-x-1/2 left-1/2;

  background-color: transparent !important;
}
</style>