<template>
  <transition name="fade">
    <div v-if="modelValue">
      <div class="fixed w-full h-full top-0 left-0 bg-primary-smooth" @click="closeModal"/>
    </div>
  </transition>


  <div class="w-full md:w-6/12 lg:w-3/12 p-3 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <transition name="scale">
      <WidgetBase v-if="modelValue">
        <slot/>
      </WidgetBase>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    modelValue: {
      type: Boolean
    }
  },
  methods: {
    closeModal() {
      this.$emit('update:model-value', false)
    }
  }
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0.5);
  opacity: 0;
}
</style>