<template>
  <div :class="getClass" class="text-white">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    wide: {
      type: Boolean
    }
  },
  computed: {
    getClass() {
      let clazz = ['basic']

      if(this.wide)
        clazz = ['wide']

      return clazz
    }
  }
}
</script>

<style scoped>
.basic {
  @apply w-full mx-auto gap-3 flex flex-col md:w-10/12 lg:w-6/12;
}

.wide {
  @apply flex gap-3 flex-col w-full sm:flex-row sm:w-10/12 md:w-8/12 sm:mx-auto sm:flex-wrap sm:justify-between;
}

</style>