<template>
  <Page>
    <div class="flex gap-3">
      <WidgetImage class="inline-block"
                   v-if="competitor && competitor.attributes.profil_image.data"
                   :url="thumbnailUrl"
      />

      <WidgetBase class="flex-1 flex" v-if="competitor">
        <div class="font-bold text-3xl sm:text-7xl whitespace-pre-wrap">{{ competitor.attributes.name }}</div>
      </WidgetBase>
    </div>
    <WidgetBase>
      <div class="flex gap-3 sm:gap-0 flex-wrap justify-between text-center">
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Likes</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.likes) }}</div>
        </div>
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Klicks</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.clicks) }}</div>
        </div>
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Kommentare</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.comments) }}</div>
        </div>
      </div>
    </WidgetBase>
    <div class="flex flex-col sm:flex-row gap-3 w-full">
      <WidgetLineChart class="w-full" title="Klicks"
                       :data="snapshots.map(({ date, clicks }) => {return{ date, data: clicks }})"/>
      <WidgetLineChart class="w-full" title="Likes"
                       :data="snapshots.map(({ date, likes }) => {return{ date, data: likes }})"/>
    </div>
    <WidgetLineChart class="w-full" title="Likes pro Klick"
                     :data="snapshots.map(({ date, likes, clicks }) => {return{ date, data: (likes / clicks)  }})"/>
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | Teilnehmer"
    }
  },
  data() {
    return {
      competitor: null,
      snapshots: [],
      stats: []
    }
  },
  mounted() {
    this.fetchCompetitor()
    this.fetchCompetitorSnapshots()
    this.fetchCompetitorStats()
  },
  methods: {
    async fetchCompetitor() {
      const res = await $fetch(this.$config.BASE_URL + '/competitors/' + this.$route.params.id + "?populate=*")
      this.competitor = res.data
    },
    async fetchCompetitorSnapshots() {
      this.snapshots = await $fetch(this.$config.PLUGIN_URL + '/stats/competitor/' + this.$route.params.id + "/snapshots")
    },
    async fetchCompetitorStats() {
      this.stats = await $fetch(this.$config.PLUGIN_URL + '/stats/competitor/' + this.$route.params.id + "/stats")
    },
    formatNumber(number) {
      return new Intl.NumberFormat('de-DE').format(number)
    },
  },
  computed: {
    thumbnailUrl() {
      const imageUrl = this.competitor.attributes.profil_image.data.attributes.formats.thumbnail.url;
      return this.$config.DATA_URL + imageUrl
    }
  }
}
</script>

<style scoped>

</style>