<template>
  <Page wide>
    <CompetitorList :competitors="competitors" />
  </Page>
</template>

<script>
import qs from "qs";

export default {
  head() {
    return {
      title: "JMA | Teilnehmer"
    }
  },
  mounted() {
    this.fetchCompetitors()
  },
  data() {
      return {
        competitors: []
      }
  },
  methods: {
    async fetchCompetitors() {
      const res = await $fetch(this.$config.PLUGIN_URL + '/stats/competitors/latest')
      this.competitors = res.map(comp => {
        const { clicks, likes } = comp
        const competitor = comp.round.competitor

        return { ...competitor, clicks, likes }
      }).reverse()
    },
  }
}
</script>