<template>
  <Page>
    <div class="flex gap-3 w-full">
      <div>
        <WidgetImage class="inline-block" v-if="news" :url="thumbnailUrl"/>
      </div>
      <WidgetBase v-if="news" class="flex-1">
        <div class="text-white">
          <div class="text-gray-400">{{ new Date(news.attributes.publishedAt).toLocaleString() }}</div>
          <div class="font-bold text-3xl">{{ news.attributes.title }}</div>
          <div class="font-semibold text-xl" v-if="news.attributes.subtitle">{{ news.attributes.subtitle }}</div>
        </div>
      </WidgetBase>
    </div>
    <WidgetBase v-if="news" class="w-full">
      <div class="prose prose-invert w-full max-w-none" v-html="$mdit.render(news.attributes.content)"/>
    </WidgetBase>
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | News"
    }
  },
  props: {
    clickable: {
      type: Boolean
    },
    noPadding: {
      type: Boolean
    }
  },
  mounted() {
    this.fetchNews()
  },
  data() {
    return {
      news: null
    }
  },
  methods: {
    async fetchNews() {
      const res = await fetch(this.$config.BASE_URL + '/news-articles/' + this.$route.params.id + "?populate=*")
      const news = await res.json()
      this.news = news.data
    },
  },
  computed: {
    thumbnailUrl() {
      const imageUrl = this.news.attributes.image.data.attributes.formats.thumbnail.url;
      return this.$config.DATA_URL + imageUrl
    }
  }
}
</script>

<style>
.clickable {
  @apply hover:shadow-lg hover:outline hover:scale-[1.03] outline-1 outline-primary transition-all delay-75 duration-150 cursor-pointer;
}
</style>