<template>
  <Page wide>
    <div v-if="newsHeader" class="flex gap-3 flex-col">
      <div class="w-full">
        <NewsFeature class="h-72" :news="newsHeader.attributes.hero.data"/>
      </div>
      <div class="flex flex-col lg:flex-row gap-3">
        <div class="lg:w-4/12">
          <NewsFeature class="h-56" :news="newsHeader.attributes.featured_1.data"/>
        </div>
        <div class="lg:w-4/12">
          <NewsFeature class="h-56" :news="newsHeader.attributes.featured_2.data"/>
        </div>
        <div class="lg:w-4/12">
          <NewsFeature class="h-56" :news="newsHeader.attributes.featured_3.data"/>
        </div>
      </div>
    </div>
    <NewsList :news="news"/>
  </Page>
</template>

<script>
import qs from 'qs';

export default {
  head() {
    return {
      title: "JMA | News"
    }
  },
  mounted() {
    this.fetchNewsHeader()
    this.fetchNews()
  },
  data() {
    return {
      newsHeader: null,
      news: []
    }
  },
  methods: {
    async fetchNews() {
      const res = await fetch(this.$config.BASE_URL + '/news-articles?populate=*')
      const json = await res.json()
      this.news = json.data;
    },
    async fetchNewsHeader() {
      const query = qs.stringify({
        populate: {
          hero: {
            populate: '*',
          },
          featured_1: {
            populate: '*',
          },
          featured_2: {
            populate: '*',
          },
          featured_3: {
            populate: '*',
          }
        }
      }, {
        encodeValuesOnly: true,
      });

      const res = await fetch(this.$config.BASE_URL + '/news-header?' + query)
      const json = await res.json()
      this.newsHeader = json.data;
    }
  }
}
</script>