<template>
  <WidgetBase clickable>
    <div class="flex justify-between flex-col text-white">
      <div class="flex">
        <div class="h-28 rounded overflow-hidden sm:h-24">
          <img v-if="competitor.profil_image" class="w-full h-full" :src="profilImageUrl" alt=""/>
        </div>
        <div :class="{'px-3': competitor.profil_image}">
          <div class="font-bold text-2xl">{{ competitor.name }}</div>
          <div class="font-semibold">{{ competitor.type }}</div>
        </div>
      </div>
      <div class="flex flex-row justify-between">
        <div>
          <div>Likes</div>
          <div v-if="competitor.likes" class="font-bold text-3xl">{{ formatNumber(competitor.likes) }}</div>
        </div>
        <div>
          <div>Klicks</div>
          <div v-if="competitor.clicks" class="font-bold text-3xl">{{ formatNumber(competitor.clicks) }}</div>
        </div>
      </div>
    </div>
  </WidgetBase>
</template>

<script>
export default {
  props: {
    competitor: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  methods: {
    formatNumber(number) {
      return new Intl.NumberFormat('de-DE').format(number)
    },
  },
  computed: {
    profilImageUrl() {
      const imageUrl = this.competitor.profil_image.data.attributes.formats.thumbnail.url;
      return this.$config.DATA_URL + imageUrl
    },
  }
}
</script>