<template>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 w-full">
    <template v-for="competitor in competitors" :key="competitor.id">
      <CompetitorItem @click="handleItemClick(competitor.id)" :competitor="competitor" />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    competitors: {
      type: Array,
      required: true
    }
  },
  methods: {
    handleItemClick(id) {
      this.$router.push({name: 'competitors-id', params: {id}});
    }
  }
}
</script>