<template>
  <div class="flex gap-1">
    <div :title="reasons[i - 1]" v-for="i in maxPoints">
      <div
          :class="{'bg-green-600' : points >= i, 'bg-gray-2 outline outline-1': points < i}"
          class="w-6 h-6 rounded-full outline-black"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    maxPoints: {
      type: Number,
      default: 0
    },
    points: {
      type: Number,
      default: 0
    },
    reasons: {
      type: Array,
      default: () => []
    }
  }
}
</script>