<template>
  <Page wide v-if="about">
    <WidgetBase class="w-full">
      <div class="text-5xl font-bold">{{ about.attributes.title }}</div>
      <div class="h-0.5 bg-gray-2 w-full my-2"></div>
      <div v-if="about" class="prose prose-invert w-full max-w-none"
           v-html="$mdit.render(about.attributes.content)"/>
    </WidgetBase>
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | About"
    }
  },
  mounted() {
    this.fetchAbout()
  },
  data() {
    return {
      about: null
    }
  },
  methods: {
    async fetchAbout() {
      const res = await $fetch(this.$config.BASE_URL + '/about')
      this.about = res.data
    },
  }
}
</script>