<template>
  <Page>
    <template v-if="game == null">
      <WidgetBase @click="fetchNewGame" class="justify-center flex w-full" clickable>
        <div class="font-bold text-primary bg-gray-1 rounded text-3xl">
          Spiel Starten
        </div>
      </WidgetBase>
    </template>
    <template v-else>
      <WidgetBase>Punkte: {{ game.points }}</WidgetBase>
      <template v-if="game.state === 'GUESSING'">
        <WidgetBase>
          <div class="mb-2">Welcher Teilnehmer hat folgende Zeile gerappt?</div>
          <div class="font-semibold text-2xl">{{ game.task.question }}</div>
        </WidgetBase>
        <div class="grid text-center font-semibold text-lg gap-3 sm:grid-cols-2">
          <WidgetBase @click="fetchGuess(index)" clickable v-for="(answer, index) in game.task.answers">
            {{ answer }}
          </WidgetBase>
        </div>
      </template>
      <template v-else-if="game.state === 'ANSWERED'">
        <WidgetBase>
          <div class="mb-2">Welcher Teilnehmer hat folgende Zeile gerappt?</div>
          <div class="font-semibold text-2xl">{{ game.task.question }}</div>
        </WidgetBase>
        <div class="grid text-center font-semibold text-lg gap-3 sm:grid-cols-2">
          <WidgetBase :class="{ 'outline outline-red-800 outline-2' : index === game.task.guess, 'outline outline-green-800 outline-2' : index === game.task.correct_answer }"
                      v-for="(answer, index) in game.task.answers">
            {{ answer }}
          </WidgetBase>
        </div>
        <WidgetBase @click="fetchNextTask" class="justify-center flex w-full" clickable>
          <div class="font-bold text-primary bg-gray-1 rounded text-3xl">
            Nächste Frage
          </div>
        </WidgetBase>
      </template>
    </template>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      game: null
    }
  },
  methods: {
    async fetchNewGame() {
      this.game = await $fetch(this.$config.PLUGIN_URL + '/game/create')
      await this.fetchNextTask()
    },
    async fetchNextTask() {
      this.game = await $fetch(this.$config.PLUGIN_URL + '/game/' + this.game.id + "/next")
    },
    async fetchGuess(guess) {
      this.game = await $fetch(this.$config.PLUGIN_URL + '/game/' + this.game.id + "/guess/" + guess)
    }
  }
}
</script>