<template>
  <Page wide v-if="imprint">
      <div class="text-5xl font-bold">{{ imprint.attributes.title }}</div>
      <div class="h-0.5 bg-gray-1 w-full my-2"></div>
      <div v-if="imprint" class="prose prose-invert w-full max-w-none"
           v-html="$mdit.render(imprint.attributes.content)"/>
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | Impressum"
    }
  },
  mounted() {
    this.fetchImpress()
  },
  data() {
    return {
      imprint: null
    }
  },
  methods: {
    async fetchImpress() {
      const res = await $fetch(this.$config.BASE_URL + '/imprint')
      this.imprint = res.data
    },
  }
}
</script>