<template>
  <Page wide>
    <WidgetBase class="w-full">
      <div>
        Eine Internet Seite, um Informationen und Statistiken rund um die JMA anzuschauen.
        Diese Seite befindet sich noch in der <span class="text-primary font-semibold">Entwicklung</span> und Feedback ist gerne gesehen.
      </div>
    </WidgetBase>
    <WidgetBase class="mb-3 w-full">
      <div class="flex gap-3 sm:gap-0 flex-wrap justify-between text-center">
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Likes</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.likes) }}</div>
        </div>
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Klicks</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.clicks) }}</div>
        </div>
        <div class="w-full sm:w-4/12">
          <div class="font-semibold text-lg text-primary">Kommentare</div>
          <div class="font-bold text-6xl">{{ formatNumber(stats.comments) }}</div>
        </div>
      </div>
    </WidgetBase>
    <div class="w-full mb-3">
      <div class="font-semibold mb-3 text-2xl">
        Neuste Runden
      </div>
      <RoundList class="w-full xl:grid-cols-5" :rounds="rounds"/>
    </div>

    <div class="w-full">
      <div class="font-semibold mb-3 text-2xl">
        Neuste Teilnehmer
      </div>
      <CompetitorList class="xl:grid-cols-5" :competitors="competitors"/>
    </div>
    <div class="w-full">
      <div class="font-semibold mb-3 text-2xl">
        Top Runden
      </div>
      <WidgetTable :size="5" sortBy="clicks" :rows="getRounds" :columns="roundColumns"/>
    </div>
  </Page>
</template>

<script>
import qs from 'qs'

export default {
  head() {
    return {
      title: "JMA | Home"
    }
  },
  data() {
    return {
      rounds: [],
      competitors: [],
      stats: [],
      roundColumns: [
        {label: "Rang", name: "index", field: "index"},
        {label: "Titel", name: "title", field: "title"},
        {label: "Teilnehmer", name: "name", field: "name"},
        {label: "Klicks", name: "clicks", field: "clicks"},
        {label: "Likes", name: "likes", field: "likes"},
      ],
      roundStats: []
    }
  },
  mounted() {
    this.fetchLatestRounds()
    this.fetchLatestCompetitorStats()
    this.fetchOverallStats()
    this.fetchLatestRoundStats()
  },
  computed: {
    getRounds() {
      return this.roundStats.map(round => {
        const {clicks, likes} = round;
        const {release, title, competitor} = round.round;
        const {name} = competitor;

        return {
          clicks, likes, release, title, name
        }
      })
    }
  },
  methods: {
    formatNumber(number) {
      return new Intl.NumberFormat('de-DE').format(number)
    },
    async fetchLatestRoundStats() {
      this.roundStats = await $fetch(this.$config.PLUGIN_URL + '/stats/rounds/latest')
    },
    async fetchLatestRounds() {
      const query = qs.stringify({
        sort: ['release:desc'],
        populate: '*',
      }, {
        encodeValuesOnly: true, // prettify url
      });

      const res = await $fetch(this.$config.BASE_URL + '/rounds?' + query)
      this.rounds = res.data.slice(0, 5)
    },
    async fetchLatestCompetitorStats() {
      const res = await $fetch(this.$config.PLUGIN_URL + '/stats/competitors/latest')
      this.competitors = res.map(comp => {
        const { clicks, likes } = comp
        const competitor = comp.round.competitor

        return { ...competitor, clicks, likes }
      }).slice(0, 5)
    },
    async fetchOverallStats() {
      this.stats = await $fetch(this.$config.PLUGIN_URL + '/stats/all/stats')
    }
  }
}
</script>