<template>
  <Page wide>
    <WidgetTable sortBy="sum" :columns="columns" :rows="getLeaderboard" />
  </Page>
</template>

<script>
import qs from 'qs';

export default {
  head() {
    return {
      title: "JMA | Rangliste"
    }
  },
  mounted() {
    this.fetchCompetitors()
  },
  data() {
    return {
      competitors: [],
      columns: [
        {label: "Platz", name: "rank", field: "index"},
        {label: "Name", name: "name", field: "name"},
        {label: "Video", name: "video", field: "video"},
        {label: "Anderes", name: "other", field: "other"},
        {label: "Gast", name: "guest", field: "guest"},
        {label: "Uservote", name: "user_vote", field: "user_vote"},
        {label: "Summe", name: "sum", field: "sum"}
      ]
    }
  },
  computed: {
    getLeaderboard() {
      console.log(this.competitors)
      const ranked = this.competitors.filter(comp => comp.attributes.rounds.data[0].attributes.rating)

      return ranked.map((el, rank) => {
          const { video, other, user_vote, guest } = el.attributes.rounds.data[0].attributes.rating;
          const sum = this.getSum(el.attributes.rounds.data[0].attributes.rating)
          const name = el.attributes.name

        return {
          video, other, user_vote, guest, sum, name
        }
      })
    }
  },
  methods: {
    getSum(rating) {
      return rating.video + rating.other + rating.guest + rating.user_vote
    },
    async fetchCompetitors() {
      const query = qs.stringify({
        populate: [
          'block',
          'rounds.rating'
        ]
      }, {
        encodeValuesOnly: true,
      });

      const res = await fetch(this.$config.BASE_URL + '/competitors?' + query)
      const competitors = await res.json()
      this.competitors = competitors.data
    }
  }
}
</script>

<style scoped>
table thead tr th div {
  @apply p-3
}

table tbody tr td div {
  @apply p-3
}

</style>