<template>
  <div class="flex -m-3">
    <div class="flex gap-5 w-screen overflow-auto p-3 lg:justify-center">
      <div v-for="block in blocks" class="relative flex flex-col">
        <div class="text-2xl text-center text-white font-bold mb-3">{{ block.attributes.name }}</div>
        <div class="flex flex-col h-full justify-center">
          <template v-for="(index, key) in block.attributes.size">
            <WidgetBase
                @click="this.$router.push({name: 'competitors-id', params: {id: block.attributes.competitors.data[key].id}});"
                :clickable="block.attributes.competitors.data[key]"
                no-padding
                class="my-1"
            >
              <div class="p-1 text-center text-white font-semibold bg-gray-1 rounded w-40">
                {{ block.attributes.competitors.data[key] ? block.attributes.competitors.data[key].attributes.name : "TBA" }}
              </div>
            </WidgetBase>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | Tunier Baum"
    }
  },
  methods: {
    async fetchBlocks() {
      const res = await fetch(this.$config.BASE_URL + '/blocks?populate=*')
      const json = await res.json()
      this.blocks = json.data;
    }
  },
  mounted() {
    this.fetchBlocks()
  },
  data() {
    return {
      blocks: null
    }
  }
}
</script>