<template>
  <Page v-if="round">
    <div class="w-full flex flex-col md:flex-row gap-3">
      <WidgetImage class="inline-block md:h-48 w-auto"
                   v-if="round && round.attributes.thumbnail.data"
                   :url="thumbnailUrl"
      />
      <WidgetBase class="flex-1">
        <div class="text-white">
          <div class="font-bold text-3xl">{{ round.attributes.title }}</div>
          <div class="font-semibold text-xl" v-if="round.attributes.competitor">
            {{ round.attributes.competitor.data.attributes.name }}
          </div>
        </div>
      </WidgetBase>
    </div>
    <div v-if="round.attributes.rating" class="w-full">
      <WidgetRating :rating="round.attributes.rating"/>
    </div>
    <div class="w-full flex flex-col md:flex-row gap-3">
      <div class="w-full order-3 md:order-none md:w-8/12">
        <WidgetText v-if="round.attributes.lyrics" title="Lyrics" :text="round.attributes.lyrics"/>
      </div>
      <div class="gap-3 md:w-4/12 flex flex-col">
        <WidgetText title="Über" :text="round.attributes.about"/>
        <WidgetLinks v-if="round.attributes.links.length > 0" :links="round.attributes.links"/>
        <WidgetText v-if="stats" title="Stats">
          <div>Klicks: {{ formatNumber(stats.clicks) }}</div>
          <div>Likes: {{ formatNumber(stats.likes) }}</div>
          <div>Kommentare: {{ formatNumber(stats.comments) }}</div>
        </WidgetText>
      </div>
    </div>
    <div class="w-full">
      <WidgetLineChart title="Likes"
                       :data="snapshots.map(({likes, date}) => { return { data: likes, date }})"/>
    </div>
    <div class="w-full">
      <WidgetLineChart title="Klicks"
                       :data="snapshots.map(({clicks, date}) => { return { data: clicks, date }})"/>
    </div>
    <div class="w-full">
      <WidgetLineChart title="Kommentare"
                       :data="snapshots.map(({comments, date}) => { return { data: comments, date }})"/>
    </div>
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | Runde"
    }
  },
  mounted() {
    this.fetchRound()
    this.fetchRoundSnapshots()
    this.fetchRoundStats()
  },
  data() {
    return {
      round: null,
      snapshots: [],
      stats: null
    }
  },
  methods: {
    formatNumber(number) {
      return new Intl.NumberFormat('de-DE').format(number)
    },
    async fetchRound() {
      const res = await fetch(this.$config.BASE_URL + '/rounds/' + this.$route.params.id + "?populate=*")
      const round = await res.json()
      this.round = round.data
    },
    async fetchRoundSnapshots() {
      const res = await fetch(this.$config.PLUGIN_URL + '/stats/round/' + this.$route.params.id + "/snapshots")
      this.snapshots = await res.json()
    },
    async fetchRoundStats() {
      const res = await fetch(this.$config.PLUGIN_URL + '/stats/round/' + this.$route.params.id + "/stats")
      this.stats = await res.json()
    }
  },
  computed: {
    thumbnailUrl() {
      if (this.round === {})
        return ""

      const imageUrl = this.round.attributes.thumbnail.data.attributes.formats.thumbnail.url;
      return this.$config.DATA_URL + imageUrl
    }
  }
}

</script>