<template>
  <Page wide>
    <RoundList :rounds="rounds" />
  </Page>
</template>

<script>
export default {
  head() {
    return {
      title: "JMA | Runden"
    }
  },
  mounted() {
    this.fetchRounds()
  },
  data() {
    return {
      rounds: []
    }
  },
  methods: {
    async fetchRounds() {
      const res = await fetch(this.$config.BASE_URL + '/rounds?pagination[pageSize]=200&populate=*')
      const rounds = await res.json()
      this.rounds = rounds.data;
    }
  }
}
</script>